{% extends "pages/page.html" %}

{% load mezzanine_tags staticfiles %}

{% block main %}

{{ block.super }}

<h2>Program of WEBVALLEY 2013</h2>

<div class="container-fluid">
    <div class="row">
    <div class="col-md-9">

        {% for day in data %}
	<table class="table table-striped table-condensed">
		<tbody>
			<tr>
			<th colspan="3"><strong> {{ day.date }} </strong> </th>
			</tr>

			{% for act in day.activities  %}
			<tr>
			<td width="20%">{{ act.time }}</td>
			<td><h4>{{ act.name }}</h4></td>
			<td width="18%" align="Right">
                          {% for link in act.links %}
                            <a href="{{ link.href }}">[{{ link.extension|upper }}]</a>
                          {% endfor %}
                        </td>
			</tr>
			{% if act.teachers %}
			<tr>
			<td></td>
			<td colspan="2"><p>{{ act.teachers }}</p></td>
			</tr>
			{% endif %}
			{% endfor %}

		</tbody>
	</table>
	{% endfor %}

    </div>
    <div class="col-md-2" style="margin-left:20px;" >
<a href="#" style="margin-bottom:20px;" class="thumbnail"><img src="http://lh5.ggpht.com/-FKd-AiVpDF0/T4wVnKr4BeI/AAAAAAAAAQg/CvavuM3ARQ0/s800/IMGP3476.jpg"></a>
<a href="#" style="margin-bottom:20px;" class="thumbnail"><img src="http://lh3.ggpht.com/-IzvFz58YNZ0/T4wVto0UIeI/AAAAAAAAARw/CTI97-Eg5ZY/s800/IMGP3550.jpg"></a>
<a href="#" style="margin-bottom:20px;" class="thumbnail"><img src="http://lh3.ggpht.com/-rnSIb9ac4fU/T4wV1BECKwI/AAAAAAAAATU/PiCXfKZ_Kow/s800/IMGP3691.jpg"></a>

<a href="#" style="margin-bottom:20px;" class="thumbnail"><img src="http://lh6.ggpht.com/-sCw4fEys5C4/T4wVqOGFNpI/AAAAAAAAARQ/VUHBIY4Wkhw/s800/IMGP3513.jpg"></a>
<a href="#" style="margin-bottom:20px;" class="thumbnail"><img src="http://lh5.ggpht.com/--aEPKpUoFT0/T46TTc85vWI/AAAAAAAAAkQ/HfgnZvdOrbE/s800/laboratorio2.jpg"></a>
<a href="#" style="margin-bottom:20px;" class="thumbnail"><img src="http://lh5.ggpht.com/-fU0VPiZKh-A/T5pm4VFduGI/AAAAAAAAAoM/A8g8Z8bNDiU/s800/IMGP0558.jpg"></a>
    </div>
    </div>
    </div>

{% endblock %}
