{% extends "pages/page.html" %}

{% load mezzanine_tags staticfiles %}

{% block main %}

{{ block.super }}

<div class="container-fluid">
    <div class="row">
    <div class="col-md-8">

        {% for day in data %}
	<table class="table table-striped table-condensed">
		<tbody>
			<tr>
			<th colspan="3"><strong> {{ day.date }} </strong> </th>
			</tr>

			{% for act in day.activities  %}
			<tr>
			<td width="20%">{{ act.time }}</td>
			<td><h4>{{ act.name }}</h4></td>
			<td width="18%" align="Right">
                          {% for link in act.links %}
                            <a href="{{ link.href }}">[{{ link.extension|upper }}]</a>
                          {% endfor %}
                        </td>
			</tr>
			{% if act.teachers %}
			<tr>
			<td></td>
			<td colspan="2"><p>{{ act.teachers }}</p></td>
			</tr>
			{% endif %}
			{% endfor %}

		</tbody>
	</table>
	{% endfor %}

    </div>
    <div class="col-md-3" style="margin-left:20px;" >
<a href="#" style="margin-bottom:20px;" class="thumbnail"><img src="{% static 'img/tt1.jpg' %}"></a>
<a href="#" style="margin-bottom:20px;" class="thumbnail"><img src="{% static 'img/tt2.jpg' %}"></a>
<a href="#" style="margin-bottom:20px;" class="thumbnail"><img src="{% static 'img/tt3.jpg' %}"></a>
<a href="#" style="margin-bottom:20px;" class="thumbnail"><img src="{% static 'img/tt4.jpg' %}"></a>
<a href="#" style="margin-bottom:20px;" class="thumbnail"><img src="{% static 'img/tt5.jpg' %}"></a>
<a href="#" style="margin-bottom:20px;" class="thumbnail"><img src="{% static 'img/tt6.jpg' %}"></a>
<a href="#" style="margin-bottom:20px;" class="thumbnail"><img src="{% static 'img/tt7.jpg' %}"></a>
<a href="#" style="margin-bottom:20px;" class="thumbnail"><img src="{% static 'img/tt8.jpg' %}"></a>
    </div>
    </div>
    </div>

{% endblock %}
