{% extends "pages/page.html" %}

{% load mezzanine_tags staticfiles %}

{% block meta_title %}{{ page.title }}{% endblock %}

{% block body %}

{{ block.super }}

<div class="container-fluid">
	{% for tc in page.team.teamcomponent_set.all %}
	<div style="margin-bottom:30px" class="row">
		<div class="col-md-2">
			<a href="#" class="thumbnail">
				<img src="{{ MEDIA_URL }}{{ tc.img }}" />
			</a>
		</div>
		<div class="col-md-10">
		    <h3 style="margin-top:10px;">{{ tc.name }}</h3>
		    <div style="margin-top:10px;">
				<blockquote><p style="font-size:13px;">{{ tc.desc }}</p></blockquote>
			</div>    
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}
