Django<1.7
psycopg2<2.7
Mezzanine<4
Markdown<3
Pillow<3
PyPDF2<2
Pygments<3
South<1
Unipath<2
argparse<2
bleach<2
decorator<5
django-appconf<1
django-compressor<2
django-robots<2
django-su
filebrowser-safe<1
future<1
grappelli-safe<1
gspread<1
html5lib<1
httplib2<1
ipython
jsonfield<1
oauth2client<5
oauthlib<1
ordereddict<2
pexpect<5
pickleshare<1
prompt-toolkit<2
ptyprocess<1
pyasn1<1
pyasn1-modules<0.1
pycrypto<3
python-dateutil<3
raven<6
reportlab<4
requests<3
requests-oauthlib<1
rsa<4
simplegeneric<1
traitlets<5
tzlocal<2
wcwidth<1
wsgiref<1
yolk<1
appdirs
packaging
six
django-recaptcha<2
django-cookie-law