<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="google-site-verification" content="RlDbWBWRrPr2Q4GR1MalZk6qrU3rInstvLJcmy_GjjQ" />
    <title>{% if settings.SITE_TITLE %}{{ settings.SITE_TITLE }}{% endif %}</title>
    <link rel="shortcut icon" href="{% static "img/tux_small.png" %}">

    {% ifinstalled mezzanine.blog %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}

    {% compress css %}
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    {% if LANGUAGE_BIDI %}
    <link rel="stylesheet" href="{% static "css/rtl.css" %}">
    {% endif %}
    {% ifinstalled cartridge.shop %}
    <link rel="stylesheet" href="{% static "css/cartridge.css" %}">
    {% if LANGUAGE_BIDI %}
    <link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
    {% endif %}
    {% endifinstalled %}
    {% block extra_css %}{% endblock %}
    {% endcompress %}

    {% compress js %}
    <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
<!--    <script src="{% static "js/bootstrap-extras.js" %}"></script>-->
    {% block extra_js %}{% endblock %}
    {% endcompress %}
<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-31374325-1', 'fbk.eu');
  ga('send', 'pageview');
</script>
{% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">{% trans "Toggle Navigation" %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand"><img src="{{ STATIC_URL }}img/webvalley-logo-topbar.png" /> </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown">

                        {% if user.is_authenticated %}

                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Logged in as <strong>{{ user.get_full_name }}</strong> <b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            <li><a href="/profile/my/">View / edit profile</a></li>
                            <li><a href="/account/logout/?next=/">Logout</a></li>
                            <li class="divider"></li>

                            <li><a href="/school-application/">Join WebValley!</a></li>
                        </ul>

                        {% else %}

                        <a data-toggle="dropdown" class="dropdown-toggle" href="#"><em>Have an account?  </em><strong>Sign in</strong> <b class="caret"></b></a>
                        <div class="dropdown-menu">

                            <form method="post" action="/account/login/?next={% firstof login_redirect_to request.path %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="username">Email</label>
                                    <input id="username" name="username" value="" tabindex="1" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input id="password" name="password" value="" title="password" tabindex="2" type="password">
                                </div>
                                <div class="divider"></div>
                                <p class="signin-button"><input value="Sign in" tabindex="4" type="submit" class="btn btn-primary btn-large"></p>
                                <p class="remember-checkbox">Remember me <input type="checkbox" id="remember_me" value="remember_me" name="remember_me" tabindex="3"></p>
                                <p class="forgot"> <a href="mailto:webvalley@fbk.eu" id="resend-password-link" tabindex="5">Forgot your password?</a> </p>
                                <p class="forgot"><a href="/account/signup/">Sign up!</a></p>
                            </form>
                        </div>
                        {% endif %}
                    </li>
                </ul>
{#                <ul class="nav navbar-nav"><li class="" id="dropdown-menu-home"><a href="/">Home</a></li><li class="dropdown" id="dropdown-menu-about"><a href="/about/" class="dropdown-toggle" data-toggle="dropdown">#}
{#            About#}
{#            <span class="caret"></span></a><ul class="dropdown-menu"><li#}
{#        id="dropdown-menu-about-skilo"><a href="/about/skilo/">Skilo</a></li><li#}
{#        id="dropdown-menu-about-team"><a href="/about/team/">Team</a></li></ul></li><li class="dropdown" id="dropdown-menu-contact-info"><a href="/contact-info/" class="dropdown-toggle" data-toggle="dropdown">#}
{#            Contact#}
{#            <span class="caret"></span></a><ul class="dropdown-menu"><li#}
{#        id="dropdown-menu-contact-info-legals"><a href="/contact-info/legals/">Legals</a></li><li#}
{#        id="dropdown-menu-contact-info-credits"><a href="/contact-info/credits/">Credits</a></li><li#}
{#        id="dropdown-menu-contact"><a href="/contact/">Info</a></li></ul></li><li class="dropdown active" id="dropdown-menu--myskitrips"><a href="/myskitrips" class="dropdown-toggle" data-toggle="dropdown">#}
{#            My Trips#}
{#            <span class="caret"></span></a><ul class="dropdown-menu"><li class="active"#}
{#        id="dropdown-menu-myskitrips"><a href="/myskitrips">Dashboard</a></li><li#}
{#        id="dropdown-menu-myskitrips-myroomsarchive"><a href="/myskitrips/myroomsarchive">Rooms</a></li></ul></li><li class="divider-vertical"></li></ul>#}
            </div>
<!-- <div class="navbar-collapse collapse">
    {% search_form "all" %}
</div> -->
</div>
</div>

<div class="container">

    {% nevercache %}
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endnevercache %}


    <br>

</div>

<div class="container marketing">
    <div class="row">

        <div class="col-md-3 left">
            {% block left_panel %}

            <div class="panel panel-default tree">{% page_menu "pages/menus/tree.html" %}</div>
            {% endblock %}
        </div>
        {% block blog_title %}{% endblock %}
        <div class="col-md-9 middle">
            {% block main %}{% endblock %}
        </div>

    </div>
</div>

<!-- Footer -->
<footer class="footer">
  <div class="container">
    <!-- <div class="col-md-4"> -->
      <p><img src="{{ STATIC_URL }}img/fbk-complete-logo.png" alt='' align="middle"/></p>
      <p>&copy; Fondazione Bruno Kessler 2016</p>
    <!-- </div> -->
    <!-- <div class="col-md-4"> -->
    <!--   <p><img src="{{ STATIC_URL }}img/CR_Giudicarie_Paganella-Top.png" alt='' align="middle"/></p> -->
    <!-- </div> -->
    <!-- <div class="col-md-4"> -->
    <!--   <img src="{{ STATIC_URL }}img/logo_visitacomano.png" alt='' align="middle"/> -->
    <!-- </div> -->
      
  </div>
</footer>
{% include "includes/footer_scripts.html" %}
<!-- begin olark code -->
<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
f[z]=function(){
(a.s=a.s||[]).push(arguments)};var a=f[z]._={
},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
0:+new Date};a.P=function(u){
a.p[u]=new Date-a.p[0]};function s(){
a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
b.contentWindow[g].open()}catch(w){
c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('5569-432-10-3641');/*]]>*/</script><noscript><a href="https://www.olark.com/site/5569-432-10-3641/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
<!-- end olark code -->
</body>
</html>
