<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>{% if settings.SITE_TITLE %}{{ settings.SITE_TITLE }}{% endif %}</title>
    <link rel="shortcut icon" href="{% static "img/tux_small.png" %}">

    {% ifinstalled mezzanine.blog %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}

    {% compress css %}
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    {% if LANGUAGE_BIDI %}
    <link rel="stylesheet" href="{% static "css/rtl.css" %}">
    {% endif %}
    {% ifinstalled cartridge.shop %}
    <link rel="stylesheet" href="{% static "css/cartridge.css" %}">
    {% if LANGUAGE_BIDI %}
    <link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
    {% endif %}
    {% endifinstalled %}
    {% block extra_css %}{% endblock %}
    {% endcompress %}

    {% compress js %}
    <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
<!--    <script src="{% static "js/bootstrap-extras.js" %}"></script>-->
    {% block extra_js %}{% endblock %}
    {% endcompress %}
<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">{% trans "Toggle Navigation" %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand"><img src="{{ STATIC_URL }}/img/webvalley-logo-topbar.png" /> </a>
            </div>
            <div class="nav-collapse">
                <ul class="nav pull-right">
                    <li class="dropdown">

                        {% if user.is_authenticated %}

                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Logged in as <strong>{{ user.get_full_name }}</strong> <b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            <li><a href="/profile/my/">View / edit profile</a></li>
                            <li><a href="/account/logout/?next=/">Logout</a></li>
                            <li class="divider"></li>
                            {# TODO: button enabled only when users are allowed to join webvalley #}
                            <li><a href="/school-application/">Join WebValley!</a></li>
                        </ul>

                        {% else %}

                        <a data-toggle="dropdown" class="dropdown-toggle" href="#"><em>Have an account?  </em><strong>Sign in</strong> <b class="caret"></b></a>
                        <div class="dropdown-menu">

                            <form method="post" action="/account/login/?next={% firstof login_redirect_to request.path %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="username">Email</label>
                                    <input id="username" name="username" value="" tabindex="1" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input id="password" name="password" value="" title="password" tabindex="2" type="password">
                                </div>
                                <div class="divider"></div>
                                <p class="signin-button"><input value="Sign in" tabindex="4" type="submit" class="btn btn-primary btn-large"></p>
                                <p class="remember-checkbox">Remember me <input type="checkbox" id="remember_me" value="remember_me" name="remember_me" tabindex="3"></p>
                                <p class="forgot"> <a href="mailto:webvalley@fbk.eu" id="resend-password-link" tabindex="5">Forgot your password?</a> </p>
                                <p class="forgot"><a href="/account/signup/">Sign up!</a></p>
                            </form>
                        </div>  
                        {% endif %}
                    </li>
                </ul>
            </div>
<!-- <div class="navbar-collapse collapse">
    {% search_form "all" %}
</div> -->
</div>
</div>

<div class="container">

    {% nevercache %}
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endnevercache %}


    <br>

</div>

<div class="container">
    <div class="row">

        <div class="col-md-3 left">
            {% block left_panel %}
            <div class="panel panel-default tree">{% page_menu "pages/menus/tree.html" %}</div>
            {% endblock %}
        </div>
        {% block blog_title %}{% endblock %}
        <div class="col-md-9 middle">
            {% block main %}{% endblock %}
        </div>

    </div>
</div>

<!-- Footer -->
<footer class="footer">
    <div class="container">
        <p><img src="{{ STATIC_URL }}/img/fbk-complete-logo.png" alt='' align="middle"/></p>
        <p>&copy; Fondazione Bruno Kessler 2014</p>
    </div>
</footer>
{% include "includes/footer_scripts.html" %}

</body>
</html>
