{% extends "pages/page.html" %}

{% load mezzanine_tags staticfiles %}
{% block main %}

{{ block.super }}
<h1><b>Next WebValley is Coming</b></h1>
<div class="row">
	<div class="col-md-4">
		<a href="#" class="thumbnail">
			<img src="{{ STATIC_URL }}/img_home/gruppo.JPG" />
		</a>
	</div>
	<div class="col-md-4">
		<a href="#" class="thumbnail">
			<img src="{{ STATIC_URL }}/img_home/denise.JPG" />
		</a>
	</div>
	<div class="col-md-4">
		<a href="#" class="thumbnail">
			<img src="{{ STATIC_URL }}/img_home/ragazzi.JPG" />
		</a>
	</div>
	<div class="col-md-4">
		<a href="#" class="thumbnail">
			<img src="{{ STATIC_URL }}/img_home/proiettore.JPG" />
		</a>
	</div>
	<div class="col-md-4">
		<a href="#" class="thumbnail">
			<img src="{{ STATIC_URL }}/img_home/aula.JPG" />
		</a>
	</div>
	<div class="col-md-4">
		<a href="#" class="thumbnail">
			<img src="{{ STATIC_URL }}/img_home/pranzo.jpg" />
		</a>
	</div>
</div>

<blockquote class="index-news"><!-- Recent Posts -->
	{% load blog_tags keyword_tags i18n %}
	{% blog_recent_posts 5 as recent_posts %}
	
	{% if recent_posts %}
	<h3>Recent News</h3>
	{% for recent_post in recent_posts %}
	<h4><a href="{{ recent_post.get_absolute_url }}">{{ recent_post.title }}</a></h4>

	 <h5>{{ recent_post.publish_date|timesince }} {% trans "ago" %}</h5>
	<div class="recent-summary">
	{{ recent_post.description_from_content|safe }}

	    <a href="{{ recent_post.get_absolute_url }}" class="">{% trans "more" %}</a>
	<hr>
	</div><!-- /recent-summary -->
	{% endfor %}
	{% endif %}
</blockquote><!-- /Recent Posts -->

{% endblock %}



