{% extends "pages/page.html" %}

{% load mezzanine_tags staticfiles %}

{% block extra_head %}
    {# jquery plugin for Picasa gallery and slimbox #}
    <script src="//code.jquery.com/jquery-1.7.1.js" type="text/javascript"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/slimbox2.css">
    <script src="{{ STATIC_URL }}js/jquery-picasa.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/slimbox2.js" type="text/javascript"></script>
    
    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery("#photo-gallery").EmbedPicasaGallery('{{ picasa_user }}',{
                matcher:    /./,  // string or regexp matching album title
                size:      '150',  // thumb size (32,48,64,72,144,160))
                msg_loading_list :  'Loading images from PicasaWeb...',
                msg_back :   'Back'
            });
        });
    </script>
{% endblock %}

{% block main %}
{{ block.super }}
    <h2>Photo Gallery</h2>
    <br/>
    <div id="photo-gallery"></div>
{% endblock %}
