{# extends "sidebar_layout.html" #}

{% extends "pages/page.html" %}
{% load url from future %}
{% load switch %}
{% block title %}{{ page_title }}{% endblock %}

{% block main %}


<h2>
    Upload signed copy
    <a style="font-size: small;"
       href="{% url 'applicationprocess.views.home' %}">
        [back to application overview]
    </a>
</h2>

<form action="." method="post" enctype="multipart/form-data">
    {% if form.non_field_errors %}
      <div class="alert alert-error">
	{{ form.non_field_errors }}
      </div>
    {% endif %}
    {% csrf_token %}
    <fieldset>
        <legend> Upload here your signed copy of {{ form_name }} (PDF Format)</legend>
        {% for field in form %}
        <div class="form-group">
	    {% if field.errors %}
	      <div class="alert alert-error">{{ field.errors }}</div>
	    {% endif %}
            <div class="controls">
                {{ field }}
            </div>
        </div>
        {% endfor %}
    </fieldset>

    <div class="form-actions">
        <button class="btn btn-primary btn-lg" type="submit">
            Upload
        </button>
        <button class="btn btn-lg" type="reset">
            Reset
        </button>
    </div>
</form>

{% endblock %}
