{% load url from future %}
{% load switch %}

<p>
    Welcome to the WebValley application process!
</p>
<p>
    Here you can see the status of your application.<br/>
    Forms can be tagged as:
</p>
<table style="width:auto;">
    <tr>
        <td><span class="label label-important">Empty</span></td>
        <td>You still haven't filled the form.</td>
    </tr>
    <tr>
        <td><span class="label label-warning">Upload Needed</span></td>
        <td>The form is filled, but you need to upload a signed copy of it: Print the form, fill it, sign it, scan it
            and upload it back.
        </td>
    </tr>
    <tr>
        <td><span class="label label-success">Completed</span></td>
        <td>The form was correctly filled and is ready to be submitted.</td>
    </tr>
</table>
<br/>
<p style="font-weight: bold;">
    DO NOT FORGET TO SUBMIT YOUR APPLICATION ONCE YOU'RE DONE,
    OTHERWISE IT WILL NOT BE PROCESSED.
</p>

<table class="table table-bordered"  style="margin-top: 1em">
    <colgroup>
        <col span="2" />
        <col  />
    </colgroup>
    <thead>
    <tr>
        <th>Form name</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Profile</td>
        <td>
            {% if user.get_profile.filled_for_application %}
            <span class="label label-success">Completed</span>
            {% else %}
            <span class="label label-important">Empty</span>
            {% endif %}
        </td>
        <td>
            <a class="btn btn-primary"
               href="{% url 'profiles.views.edit' %}">
                Edit
            </a>
        </td>
    </tr>
    {% for user_form in user_forms %}
    <tr>
        <td>{{ user_form.form.name }}</td>
        {% switch user_form.status %}
        {% case form_status_choices.INCOMPLETE %}
        <td>
            <span class="label label-important">Empty</span>
        </td>
        <td>
            <a class="btn btn-primary"
               href="{% url 'applicationprocess.views.form_edit' user_form.form.pk %}">
                Edit
            </a>
        </td>
        {% case form_status_choices.FILLED %}
        <td>
            <span class="label label-warning">Upload Needed</span>
        </td>
        <td>
            <a class="btn btn-primary"
               href="{% url 'applicationprocess.views.form_edit' user_form.form.pk %}">
               Edit
            </a>
            {% if user_form.blank_form_url %}
            <a class="btn btn-primary"
                href="{{ user_form.blank_form_url }}">
               Download
            </a>
            {% endif %}
            <a class="btn btn-primary"
                href="{% url 'applicationprocess.views.submit_signed' user_form.form.pk %}">
               Upload
            </a>
        </td>
        {% case form_status_choices.COMPLETED %} {# 'completed'? #}
        <td>
            <span class="label label-success">Completed</span>
        </td>
        <td>
            <a class="btn btn-primary"
               href="{% url 'applicationprocess.views.form_edit' user_form.form.pk %}">
                Edit
            </a>
        </td>
        {% endswitch %}
    </tr>
    {% endfor %}
    </tbody>
</table>

<p class="well">
    {% if ready_for_submission %}
    <a class="btn btn-primary btn-lg"
       href="{% url 'applicationprocess.views.submit' %}">
        Submit application
    </a>
    {% else %}
    <span class="btn btn-primary btn-lg disabled"
          title="Complete all the forms, then submit your application">
      Submit application
    </span>
    {% endif %}
	<a class="btn btn-info btn-lg"
       href="/sp/registration_howto/">
        Application HOW TO
    </a>
</p>
