{# extends "sidebar_layout.html" #}

{% extends "pages/page.html" %}


{% block extrahead %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/datepicker.css">
    <script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
{% endblock %}

{# block page #}
{% block main %}



    <h2>
        {{ request.user.first_name }}'s profile
        <small><a href="/profile/my/">[view]</a></small>
    </h2>

    <form class="form-stacked col-md-6 edit-profile-form" enctype="multipart/form-data" method="post" action="">
        {% csrf_token %}

        {% if form.errors %}
            <div class="alert alert-error fade in" data-alert="alert">
                <a class="close" data-dismiss="alert" href="#">&times;</a>

                <p>Please correct the error <strong> {{ form.error|pluralize }} </strong> below. </p>
            </div>
        {% endif %}

        {{ form.as_p }}

        <div class="form-actions">
            <button class="btn btn-primary btn-large" type="submit">Edit profile</button>
            <button class="btn btn-large" type="reset">Reset</button>
        </div>
    </form>

    <script type="text/javascript">
        // set default date. quite dirty done this way, in fact
        if($('#id_birth_date').val() == ""){
            $('#id_birth_date').val('01/01/1994');
        }

        $('#id_birth_date').datepicker({
            format: 'dd/mm/yyyy'
        });
    </script>
{% endblock %}
