{% extends "sidebar_layout.html" %}
{% load url from future %}

{% block title %}WebValley - {{ request.user.get_full_name }}{% endblock %}

{% block page %}
    <h2> {{ request.user.first_name }}'s profile
        <small><a href="/profile/edit/"> [edit]</a></small>
    </h2>
    <div class="row my-profile">
        <div class="span3">
            <a href="#" class="thumbnail">
                {% if request.user.get_profile.photo %}
                    <img alt="profile_image" src="{{ request.user.get_profile.photo.url }}"/>
                {% else %}
                    <img alt="unknown_image" src="{{ STATIC_URL }}img/unknown-user-image.png"/>
                {% endif %}
            </a>
        </div>
        <div class="span5">
            <table class="table">
                <tbody>
                <tr>
                    <th>First name</th>
                    <td>{{ request.user.first_name }}</td>
                </tr>
                <tr>
                    <th>Last name</th>
                    <td>{{ request.user.last_name }}</td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <td>{{ request.user.get_profile.get_gender_display }}</td>
                </tr>
                <tr>
                    <th>E-mail address</th>
                    <td>{{ request.user.email }}</td>
                </tr>
                <tr>
                    <th>Date of join</th>
                    <td>{{ request.user.date_joined }}</td>
                </tr>
                <tr>
                    <th>Nationality</th>
                    <td>{{ request.user.get_profile.nationality }}</td>
                </tr>
                <tr>
                    <th>Birth date</th>
                    <td>{{ request.user.get_profile.birth_date }}</td>
                </tr>
                <tr>
                    <th>Birth place</th>
                    <td>{{ request.user.get_profile.birth_place }}</td>
                </tr>
                <tr>
                    <th>Home phone</th>
                    <td>{{ request.user.get_profile.home_phone }}</td>
                </tr>
                <tr>
                    <th>Mobile phone</th>
                    <td>{{ request.user.get_profile.mobile_phone }}</td>
                </tr>
            </table>
	    <p>
	      <a class="btn btn-primary btn-small" href="{% url 'applicationprocess.views.home' %}">Continue your WebValley application</a>
	    </p>
        </div>
    </div>
{% endblock %}
