{% extends "pages/page.html" %}

{% load mezzanine_tags staticfiles %}

{% block meta_title %}{{ page.title }}{% endblock %}

{% block main %}

    {{ block.super }}

    <div class="container-fluid">
        <div style="margin-bottom:10px" class="row">
            <div class="col-md-12">
                <h1>{{ page.title }}</h1>
                <p>
                    Here we provide a list of the most useful papers to read before starting the
                    WebValley {{ page.paperpage.year }} School.
                </p>
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <th><strong>#</strong></th>
                        <th><strong>Year</strong></th>
                        <th><strong>Authors</strong></th>
                        <th><strong>Title</strong></th>
                        <th><strong>Link</strong></th>
                    </tr>
                    {% for paper in page.paperpage.paper_set.all %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ paper.year }}</td>
                            <td>{{ paper.authors }}</td>
                            <td>{{ paper.title }}</td>
                            <td><a href="{{ paper.paper.url }}" target="_blank">Download</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
