{# extends "sidebar_layout.html" #}

{% extends "pages/page.html" %}

{# block page #}
{% block main %}

<form class="form-stacked col-md-6 login-form" method="post" action="/account/login/?next={{ next_page }}">
    {% csrf_token %}

    <fieldset>
        <legend>Login</legend>

        {% if errors %}
        <div class="alert alert-error fade in" data-alert="alert">
            {% for error in errors %}

            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <p><strong>Error: </strong> {{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <div>
            <label for="username">Email</label>
            <div class="input">
                <input type="text" name="username" id="username" class="xlarge col-md-5">
            </div>
        </div>
        <div>
            <label for="password">Password</label>
            <div class="input">
                <input type="password" size="30" name="password" id="password" class="xlarge col-md-5">
            </div>
        </div>
        <div>
            <div class="input">
                <input type="checkbox" id="remember_me" value="remember_me" name="remember_me">
                <span>Remember me</span>
            </div>
        </div>
        <h6><a href="/account/signup/">Sign up now!</a></h6>
        <h6><a href="#"> Forgot your password ? </a></h6>
    </fieldset>
    <div class="form-actions">
        <button class="btn btn-primary btn-large" type="submit">Login</button>
        <button class="btn btn-large" type="reset">Reset</button>
    </div>
</form>
{% endblock %}
