{% extends "sidebar_layout.html" %}

{% block page %}
    {% if form %}
        <form class="form-stacked span6 edit-profile-form" method="post" action="">
        {% csrf_token %}

        <legend>Sign up for a new account</legend>
		<p style="margin-bottom:20px;">Signing up is required in order to fill your WebValley application form</p>
        {{ form.as_p }}

        <div class="form-actions">
            <button class="btn btn-primary btn-large" type="submit">Submit</button>
            <button class="btn btn-large" type="reset">Reset</button>
        </div>
    {% endif %}
{% endblock %}