{% extends "pages/page.html" %}

{% load mezzanine_tags staticfiles %}

{% block body %}

{{ block.super }}

<div class="container-fluid">
	<table class="table">
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>City</th>
		</tr>
		{% for partecipant in page.partecipants.person_set.all %}
		<tr>
			<td class="col-md-2">
				<a href="#" class="thumbnail">
					<img src="{{ MEDIA_URL }}{{ partecipant.photo }}" />
				</a>
			</td>
			<td>
			    <p style="margin-top:10px;">{{ partecipant.name }}</p>
			</td>
		    <td>
				<p style="font-size:13px;">{{ partecipant.city }}</p>    
			</td>
		</tr>
		{% endfor %}
	</table>
</div>

{% endblock %}
