{% extends "sidebar_layout.html" %}

{% block page %} {# sorry for the bad block name, but 'content' was already in use #}

    {# ERROR AREA #}
    {% if errors %}
        <div class="alert alert-error fade in" data-alert="alert">
            <a class="close" data-dismiss="alert" href="#">&times;</a>

            {% for error in errors %}
                <p><strong>Error: </strong> {{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}

    {# NOTIFICATION AREA #}
    {% if notifications %}
        <div class="alert alert-info fade in" data-alert="alert">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            {% for notification in notifications %}
                <p><strong>Heads up!</strong> {{ notification }}</p>
            {% endfor %}
        </div>
    {% endif %}

<div class="row">
    <div class="span10">
        <div><h1><b style="font-size: larger;">WebValley 2013 is Coming</b></h1></div>
        <!--<div class="span4"><div><a href="#" class="thumbnail">
			
	   </div>
        </div>-->
    </div>
</div>
<div class="row" style="margin-top: 1.5em;">
    <div class="span3" style="margin-bottom: .5em; margin-top: .5em;"><img class="thumbnail" src="{{STATIC_URL}}img_home/gruppo.JPG"/></div>
    <div class="span3" style="margin-bottom: .5em; margin-top: .5em;"><img class="thumbnail" src="{{STATIC_URL}}img_home/denise.JPG"/></div>
    <div class="span3" style="margin-bottom: .5em; margin-top: .5em;"><img class="thumbnail" src="{{STATIC_URL}}img_home/ragazzi.JPG"/></div>
    <div class="span3" style="margin-bottom: .5em; margin-top: .5em;"><img class="thumbnail" src="{{STATIC_URL}}img_home/proiettore.JPG"/></div>
    <div class="span3" style="margin-bottom: .5em; margin-top: .5em;"><img class="thumbnail" src="{{STATIC_URL}}img_home/aula.JPG"/></div>
    <div class="span3" style="margin-bottom: .5em; margin-top: .5em;"><img class="thumbnail" src="{{STATIC_URL}}img_home/pranzo.jpg"/></div>
</div>


    {# LATEST NEWS #}
    <div id="links">
        <a href="feeds/rss/" title="rss">RSS</a>
        <a href="feeds/atom/" title="atom">ATOM</a>
    </div>

    <h2> Latest News </h2>
    {% if news.paginator.count %}
        {% for news_obj in news.object_list %}
            <h4><a class="news-title" href="{% url 'news-details' news_obj.slug news.number %}">{{ news_obj.title }}</a></h4>
            <span class="news-date">{{ news_obj.created_at|date:"d.m.Y" }}, {% if news_obj.user.get_full_name %}{{ news_obj.user.get_full_name }} {% else %} {{ news_obj.user.username }}{% endif %}</span>
            <p>
                {{ news_obj.body|striptags|linebreaksbr|urlizetrunc:20|safe|truncatewords:words }} - <a href="{% url 'news-details' news_obj.slug news.number %}">more</a>
            </p>
        {% endfor %}
        <a class="btn small" href="/news">View all the news</a>

    {% else %}
        <p class="info">No news so far</p>
    {% endif %}

{% endblock %}

<script type="text/javascript">
    $('.carousel').carousel();
</script>
