{% extends "base.html" %}
{# load tags #}

{% block body %}

    {# include "topbar.html" with login_redirect_to=login_redirect_to #}

    <div class="container">

        <div class="content">

            {% include "page_header.html" %}

            <div class="row">
                <div class="span3">
                    {# if sidebar_item #}
                        {# sidebar sidebar_item #}
                    {# else #}
                        {# sidebar "none" #}
                    {# endif #}
                </div>
                <div id="page-content" class="sidebar-layout span8">

                    {% block page %} {# sorry for the bad block name, but 'content' was already in use #}
                    {% endblock %}

                </div>

            </div>
        </div>

        {% include "footer.html" %}

    </div> <!-- /container -->

{% endblock %}
