<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} FBK - WebValley {% endblock %}</title>
<!-- GAnalytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31374325-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

    <!-- jQuery -->
    <script src="{{ STATIC_URL }}js/jquery.js"></script>

    <!-- js scripts -->
    <!-- TODO: comment out useless scripts -->

    <script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-button.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-carousel.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- fonts -->
    <!-- TODO: choose better fonts, put fonts in /static/fonts/... and remove useless fonts. -->
    {#<link href='http://fonts.googleapis.com/css?family=Overlock+SC' rel='stylesheet' type='text/css'>#}
    {#<link href='http://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'>#}

    {% block extrahead-pre-css %}{% endblock %}

    <!-- stylesheets -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
    <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>

    <link rel="icon" href="{{ STATIC_URL }}img/tux_small.png" />

    {% block extrahead %} {% endblock %}
</head>
<body>
<!--[if lt IE 8]>
<div class="alert alert-error" style="text-align:center;">
    <p style="font-size:large;">You are using an old version of Internet Explorer.</p>
    <p style="font-size:large;">The webvalley registration process will not work correctly.</p>
    <p style="font-size:large;">
        Please, consider using a newer version (8 or greater)
        or download
        <a href="http://portableapps.com/apps/internet/firefox_portable">
            Firefox Portable
        </a>
    </p>
</div>
<![endif]-->
{% block page %} I should be replaced {% endblock %}
</body>
</html>
